body {
    background-color: #1F2937;
    width:auto
}
header {
    margin: 0 15%;
    width:auto;
}

main {
    background-color: #1F2937;
    width:auto;

}

.container {
    background-color: #1F2937;
    width:auto;
    color: #F9FAF8;
}

.headerOptions {
    float: right;
}

#corporationName {
    float: left;
    margin-left: 2%;
    font-weight: 300;
    color:bisque;
}

.headerOptions {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headerOptions li {
    display: inline-block;
    margin: 0 20px;
    margin-left: -10px;
    padding-top: 28px;
}

.headerOptions a {
    color: aqua;
    text-decoration: none;
    text-transform: uppercase;
}

.headerOptions a:hover {
    color:bisque;
}

.summaryContainer {
    display: flex;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
    margin: 0 15%;
    background-color: #1F2937;
    color: #e5e7eb;
    height:40vh;
}

.imagesSection {
    background-color:whitesmoke;
    color: #1F2937;
    height: 30vh;
    margin: 0 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#imagesContainer {
    background-color:whitesmoke !important; 
    height: 30%;
}

.imagesContainer .landingImages {
    border: #f9faf8;
    height: 30vh;
}

.quoteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height:30vh;
}

.quoteSection a {
    margin: 0 15%;
    width:auto;
}